/* Smooth scroll on anchors */
html {
    scroll-behavior: smooth;
  }

/* Navigation buttons */
.navigation-buttons{
    position:fixed;
    top:0;
    right:0;
    display: table;
    clear: both;
    z-index: 99;
}

.navigation-buttons a{
    font-size: 20px;
    font-weight: bold;
    float:left;
    background-color: white;
    border-radius: 50%;
    height:50px;
    width:50px;
    line-height: 50px;
    text-align: center;
    margin: 30px;
}

.navigation-buttons a:link{
    text-decoration: none;
}

.navigation-buttons a:hover{
    box-shadow: -5px 0 5px #555555;
}

/* Shopping items */
.item{
    height:100vh;
    position: relative;
    overflow: hidden;
}

#first{
    background-color: red;
    color: yellow;
}

#second{
    background-color: green;
    color:yellow;
}

#third{
    background-color: yellow;
    color:green;
}

.item img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.info{
    text-transform: uppercase;
    text-align: center;
    font-size: 70px;
    width:800px;
    font-weight: bold;
    position: absolute;
    left:50%;
    bottom:5%;
    transform: translate(-50%,0);
}